@charset "UTF-8";
@font-face {
  font-family: 'Montserrat Regular';
  src: url("../fonts/montserrat/Montserrat-Regular.eot");
  src: url("../fonts/montserrat/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/Montserrat-Regular.woff") format("woff"), url("../fonts/montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Semibold';
  src: url("../fonts/montserrat/Montserrat-SemiBold.eot");
  src: url("../fonts/montserrat/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/Montserrat-SemiBold.woff") format("woff"), url("../fonts/montserrat/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Bold';
  src: url("../fonts/montserrat/Montserrat-ExtraBold.eot");
  src: url("../fonts/montserrat/Montserrat-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/Montserrat-ExtraBold.woff") format("woff"), url("../fonts/montserrat/") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header__header {
  padding-top: 10px;
}

.header .header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header-top-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header-top-item__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-size: 30px;
  font-family: 'Montserrat Bold', sans-serif;
}

.header .header-top-item__black {
  color: #000000;
}

.header .header-top-item__red {
  color: #EB3437;
}

.header .header-top-item__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 40px;
  color: #000000;
  font-family: 'Montserrat Semibold', sans-serif;
}

.header .header-top-item__phone::before {
  content: "";
  font-family: 'icomoon' !important;
  font-size: 20px;
  color: #EB3437;
  padding-right: 10px;
}

.header .header-top-item__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-top-item__search-text {
  display: none;
  width: 320px;
  height: 20px;
  border-radius: 10px;
  border: 1px solid #d4d4d4;
  outline: none;
  padding: 5px 10px;
}

.header .header-top-item__search-text--active {
  display: block;
  width: 320px;
  height: 20px;
  border-radius: 10px;
  border: 1px solid #d4d4d4;
  outline: none;
  padding: 5px 10px;
}

.header .header-top-item__search-button::after {
  content: "";
  font-family: 'icomoon' !important;
  font-size: 20px;
  color: #EB3437;
  padding-left: 15px;
  padding-right: 15px;
}

.header .header-top-item__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
  font-family: 'Montserrat Semibold', sans-serif;
}

.header .header-top-item__link::before {
  content: "";
  font-family: 'icomoon' !important;
  font-size: 20px;
  color: #EB3437;
  padding-left: 15px;
  padding-right: 15px;
}

.header .header-main {
  background-color: #EB3437;
}

.header .header-main .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0;
}

.header .header-main .nav__item {
  padding: 15px 40px 15px 0;
}

.header .header-main .nav__item:last-child {
  padding-right: 0;
}

.header .header-main .nav__link {
  color: #ffffff;
}

.header .header-main .nav__link:hover {
  color: #F7FF00;
}

.slick {
  position: relative;
}

.slick-prev, .slick-next {
  position: absolute;
  top: 35%;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: none;
  outline: none;
  color: #ffffff;
  background: #EB3437;
  cursor: pointer;
  z-index: 1;
}

.slick-disabled {
  cursor: default;
  background-color: transparent;
  color: transparent;
}

.slick-prev {
  left: 0;
  margin-left: 20px;
}

.slick-prev::before {
  content: "";
  font-family: 'icomoon' !important;
  font-size: 20px;
}

.slick-next {
  right: 0;
  margin-right: 20px;
}

.slick-next::before {
  content: "";
  font-family: 'icomoon' !important;
  font-size: 20px;
}

body {
  font-size: 15px;
  font-family: 'Montserrat Regular', sans-serif;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}
/*# sourceMappingURL=style.css.map */