.container
    max-width: 1200px
    margin: 0 auto

.header
    &__header
        padding-top: 10px
    .header-top
        display: flex
        align-items: center
        justify-content: space-between
        &-item
            display: flex
            align-items: center
            justify-content: space-between
            &__logo
                display: flex
                align-items: center
                text-transform: uppercase
                font-size: 30px
                +bold
            &__black
                color: $black
            &__red
                color: $bg
            &__phone
                display: flex
                align-items: center
                padding-left: 40px
                color: $black
                +semibold
            &__phone::before
                content: $icon-phone
                font-family: 'icomoon' !important
                font-size: 20px
                color: $bg
                padding-right: 10px
            &__search
                display: flex
                align-items: center
            &__search-text
                display: none
                width: 320px
                height: 20px
                border-radius: 10px
                border: 1px solid $border-search
                outline: none
                padding: 5px 10px
            &__search-text--active
                display: block
                width: 320px
                height: 20px
                border-radius: 10px
                border: 1px solid $border-search
                outline: none
                padding: 5px 10px
            &__search-button::after
                content: $icon-search
                font-family: 'icomoon' !important
                font-size: 20px
                color: $bg
                padding-left: 15px
                padding-right: 15px
            &__link
                display: flex
                align-items: center
                color: $black
                +semibold
            &__link::before
                content: $icon-shopping-cart
                font-family: 'icomoon' !important
                font-size: 20px
                color: $bg
                padding-left: 15px
                padding-right: 15px
    .header-main
        background-color: $bg
        .nav
            &__list
                display: flex
                align-items: center
                justify-content: center
                margin-bottom: 0
            &__item
                padding: 15px 40px 15px 0
            &__item:last-child
                padding-right: 0
            &__link
                color: $white
            &__link:hover
                color: #F7FF00

.slick
    &-block
        position: relative
        margin-bottom: 65px
    &-slide
        .btn
            margin-top: 15px
        .btn:hover
            background-color: $white
            color: #000000
            +bold
        &__block
            position: absolute
            top: 20%
            width: 50%
            color: $white
            text-align: center
        &__title
            margin: 0
            font-size: 54px
        &__description
            font-size: 28px
        &__button
            border: 2px solid $white
            border-radius: 50px
            background-color: transparent
            padding: 15px 30px
            color: $white
    &-prev,
    &-next
        position: absolute
        top: 35%
        width: 48px
        height: 48px
        border-radius: 50%
        border: none
        outline: none
        color: $white
        background: $bg
        cursor: pointer
        z-index: 1
    &-disabled
        cursor: default
        background-color: transparent
        color: transparent
    &-prev
        left: 0
        margin-left: 20px
    &-prev::before
        content: $arrow-left
        font-family: 'icomoon' !important
        font-size: 20px

    &-next
        right: 0
        margin-right: 20px
    &-next::before
        content: $arrow-right
        font-family: 'icomoon' !important
        font-size: 20px